@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

::-webkit-scrollbar{
	width: 0;
}

body{
	font-family: 'Montserrat';
}

.main{
	min-height: calc(100vh - 24px - 24px - 80px - 36px - 20px);
	max-height: calc(100vh - 24px - 24px - 80px - 36px - 20px);
}

.main-table th, .main-table td{
	padding: 1rem 0;
}